---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"; // define o conjunto de caracteres

@import "cores"; // importa _cores.scss da pasta _sass
@import "tipografia"; // importa _tipografia.scss da pasta _sass

@import "rodape"; // importa _rodape.scss da pasta _sass
@import "grid"; // importa _grid.scss da pasta _sass
@import "nav"; // importa _nav.scss da pasta _sass

// define o root
:root {
  background: var(--background-color); // cor de fundo da página
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color); // cor de fundo do body
  color: var(--content-color); // cor do conteúdo do body
  margin: 0; // margens do body
  padding: 0; // preenchimento do body

}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

img {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0 auto 0 auto;
}

.animated {
  transition: all 250ms;
}

.home .fa-ul {
  font-size: 0.875em;
  margin-left: 1.5em;
}

.fa-ul > li {
  padding-bottom: 0.5em;
}

.fa-li {
  color: var(--accent-color);
  opacity: 0.75;
  width: 0.875em;
}

.leia-mais {
  color: inherit;
  font-size: 0.875em;

  &::after {
    color: inherit;
    content: "→";
    font-style: normal;
    font-weight: inherit;
    padding-left: 0.125em;
    position: absolute;
    transition: padding 0.3s ease-in-out;
  }

  &:hover::after {
    padding-left: 0.5em;
  }

  i,
  img {
    margin-right: 0.5em;
  }

  img {
    display: inline;
  }

  &:hover i {
    opacity: 1;
  }


}

.avatar,
{
  background-position: center;
  background-size: cover;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;

  nav & {
    float: left;
  }
}



table {
  width: 100%;
  text-align: center;

  img {
    margin: 0 auto;
  }

  + table {
      margin-top: 1em;
  }
}

