---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "colors";
@import "typography";
@import "figures";

@import "footer";
@import "grid";
@import "nav";
@import "computer";

:root {
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color);
  color: var(--content-color);
//  margin: 0 auto 0 auto;
  margin: 0;
// height:100%; // posto depois
    padding: 0;
// min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
margin: 0 auto 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.animated {
  transition: all 250ms;
}

.home .fa-ul {
  font-size: 0.875em;
  margin-left: 1.5em;
}

.fa-ul > li {
  padding-bottom: 0.5em;
}

.fa-li {
  color: var(--accent-color);
  opacity: 0.75;
  width: 0.875em;
}

.leia-mais {
  color: inherit;
  font-size: 0.875em;

  &::after {
    color: inherit;
    content: "→";
    font-style: normal;
    font-weight: inherit;
    padding-left: 0.125em;
    position: absolute;
    transition: padding 0.3s ease-in-out;
  }

  &:hover::after {
    padding-left: 0.5em;
  }

  i,
  img {
    margin-right: 0.5em;
  }

  img {
    display: inline;
  }

  &:hover i {
    opacity: 1;
  }


}

.avatar,
img[alt="Página inicial"] {
  background-position: center;
  background-size: cover;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin: 0 1em 1em 0;
  max-width: 16em;
display: block;
margin-left: auto;
margin-right: auto;

  nav & {
    float: left;
  }
}

table {
  width: 100%;
  text-align: center;

  img {
    margin: 0 auto;
  }

  + table {
      margin-top: 1em;
  }
}

.summary {
  float: left;
  margin: 1.1em 0;
}

.card {
  background-color: var(--faint);
  border: 1px solid var(--faint);
  border-radius: 0.4em;
  box-shadow: 0 0.125em 1em rgba(0, 0, 0, 0.125);
}

.qr {
  max-width: 256px;
}

