{% assign hash = site.time | date: '%s' %}
<head>

<!-- Título da página -->
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>

<!-- Meta tags W3C -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="theme-color" content="{% if page.theme-color %}{{ page.theme-color }}{% else %}{{ site.theme-color }}{% endif %}">
  <meta name="image" content="/logo.svg">
  <meta name="robots" content="index, follow">

<!-- Carregando o arquivo CSS para o HTML -->
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/css/main.css' | prepend: site.baseurl | append: '?v=' | append: hash }}">

<!-- Gerando link para o RSS do blog -->
  <link rel="alternate" type="application/rss+xml" title="Blog" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<!-- Referenciando a imagem que vai servir como ícone da página -->
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />

<!-- Códigos de verificação do Google e Microsoft para seus respectivos buscadores -->


</head>
