<nav>

<div class="box">

	{% assign current = page.url | downcase | split: '/' %}

	<a href="/" {% if current[1] == null %}class='current'{% endif %} title="Página inicial"><img class="logo" alt="Página inicial" src="/logo.svg" /></a>

	<a href="/blog/" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a>
	<a href="/coisas/" {% if current[1] == 'coisas' %}class='current'{% endif %}>Coisas</a>
	<a href="/presentes/" {% if current[1] == 'presentes' %}class='current'{% endif %}>Lista de presentes</a>


	{% if current[1] == 'creditos' %}
		<a href="/creditos/" class='current'>Créditos</a>
	{% endif %}

</div>

</nav>


