<nav>

<div class="box">

	{% assign current = page.url | downcase | split: '/' %}

	<a href="/" {% if current[1] == null %}class='current'{% endif %} title="Página inicial"><img class="logo" alt="Página inicial" src="/logo.svg" / widht="2250" height="2250"></a>

	<a href="/blog/" {% if current[1] == 'blog' %}class='current'{% endif %} title="Blog">Blog</a>
	<a href="/coisas/" {% if current[1] == 'coisas' %}class='current'{% endif %} title="Coisas que eu uso">Coisas</a>
	<a href="/presentes/" {% if current[1] == 'presentes' %}class='current'{% endif %} title="Lista de presentes">Presentes</a>


	{% if current[1] == 'creditos' %}
		<a href="/creditos/" class='current' title="Créditos">Créditos</a>
	{% endif %}

	{% if current[1] == 'sobre' %}
		<a href="/sobre/" class='current' title="Informações sobre a página">Sobre</a>
	{% endif %}

</div>

</nav>


