<nav>

<div class="box">

  {% assign current = page.url | downcase | split: '/' %}

  <a href="/" {% if current[1] == null %}class='current'{% endif %} title="Página inicial">
    <img class="logo" src="/assets/images/icons/logo.svg" alt="Logo do sítio, uma libélula desenhada de perfil, com o corpo na cor verde e as asas na cor vermelha" widht="2250" height="2250" >
  </a>

  <a href="/blog/" {% if current[1] == 'blog' %}class='current'{% endif %} title="O meu blog">Blog</a>
  <!-- <a href="/coisas/" {% if current[1] == 'coisas' %}class='current'{% endif %} title="Coisas que eu uso">Coisas</a> -->
  <!-- <a href="/seguindo/" {% if current[1] == 'seguindo' %}class='current'{% endif %}  title="Quem eu sigo na web">Seguindo</a> -->

  {% if current[1] == 'presentes' %}
    <a href="/presentes/" class='current' title="Minha lista de presentes">Lista de presentes</a>
  {% endif %}

  {% if current[1] == 'creditos' %}
    <a href="/creditos/" class='current' title="Créditos do sítio">Créditos</a>
  {% endif %}

  {% if current[1] == 'sobre' %}
    <a href="/sobre/" class='current' title="Informações sobre a página">Sobre</a>
  {% endif %}

  {% if current[1] == 'caso_vigi' %}
  <a href="/caso_vigi/" class='current' title="Caso Vígi">Caso Vígi</a>
  {% endif %}
  
</div>

</nav>


