// Configura as classes .highlighter-rouge e .highlight
// Configura as tags pre e code
.highlighter-rouge,
.highlight,
pre,
code {
 background-color: var(--secondary-accent-color); // cor de fundo
 border-radius: 5px; // arredonda a borda
 font-family: "Open Sans"; // define a fonte utilizada
}

// Configura as tags pre e code
pre code {
 font-size: 90%; // diminuiu para 90% o tamanho da fonte em relação as outras fontes do HTML
 line-height: 1.5em; // altura da linha
 overflow: auto; // define que a caixa de código possua barras de rolagem apenas se for necessário
 padding: 0.5em; // define a distância entre o conteúdo e a borda
 display: block; // define que o conteúdo é mostrado dentro de uma caixa
 color: inherit; // a cor é herdada
}

// Configura a classe .highlight
.highlight {
  margin: auto; // margen é calculada automaticamente centralizando o elemento dentro do conteúdo
  text-align: left; // alinha o texto na esquerda
}


// COnfigura a tag kbd (usada para indicação de teclas de teclado, botões, etc)
kbd {
 font-size: 90%; // diminuiu para 90% o tamanho da fonte em relação as outras fontes do HTML
 border-radius: 5px; // arredonda a borda
 padding: 0px 3px 0px; // define a distância entre o conteúdo e a borda, sendo a parte superior, os lados e a parte inferior
 border: 1px solid var(--content-color); // define a borda, sendo a espessura, o tipo e a cor
 font-family: "Open Sans"; // define a fonte utilizada
}
