:root {
	--background-color: #ffffff; // cor de fundo do conteúdo da página
	--primary-color: #008B8B; // cor primária
	--additional-color: #117372; // cor complementar
	--accent-color: #ff7474; // cor de destaque
	--content-color: #63666A; // cor do texto dos conteúdos

    --code-background-color: #2B2B2B; // cor do fundo das caixas de código
    --code-content-color: #A5A38C; // cor do conteúdo das caixas de código

	--secondary-accent-color: var(--primary-color); // segunda cor de destaque
	--secondary-accent-contrast: var(--background-color); // contraste da segunda cor de destaque

}

// modifica o CSS para prepará-lo para impressão
@media print {
	:root {
		--background-color: #ffffff;
  }
}

