:root {
	--background-color: #ffffff; // cor de fundo do conteúdo da página / Branco
	--primary-color: #008B8B; // cor primária / Verde-água
	--accent-color: #ff7474; // cor de destaque / Vermelho
	--secondary-accent-color: #FFDBDB; // segunda cor de destaque - 40% da cor de destaque vermelho
	--content-color: #63666A; // cor do texto dos conteúdos / Cinza


//	--secondary-accent-contrast: var(--background-color); // contraste da segunda cor de destaque

}

// modifica o CSS para prepará-lo para impressão
@media print {
	:root {
		--background-color: #ffffff;
  }
}

