.highlighter-rouge,
.highlight,
pre,
code {
 max-width:100%;
 background-color: #FDF6E3;
 color: #587189;
}

pre code {
 overflow:auto;
 padding:0.5em;
 display:block;
 color:inherit;
}

.highlight {
 background-color: #FDF6E3;
 color: #587189;
 display:inline-block;
 margin:auto;
}

kbd {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid black;
}
