.highlighter-rouge,
.highlight,
pre,
code {
// font-family: "Open Sans";
// width:100%;
// max-width:100%;
 background-color: #FEC3A9;
 color: #587189;
 border-radius:5px;
}

pre code {
 overflow:auto;
 padding:0.5em;
 display:block;
 color:inherit;
// word-break:break-all;

}

.highlight {
 font-size: 90%;
// background-color: #FEC3A9;
// color: #587189;
// margin:auto;
// max-width:100%;
// display: block;
// overflow: auto;
}

kbd {
 font-size: 90%;
 border-radius: 5px;
 padding: 1px 3px;
 border: 1px solid black;
 font-family: "Open Sans";
}
