:root {
	--background-color: #ffffff; // define a variável da cor de fundo do conteúdo da página (branco)
	--primary-color: #008B8B; // define a variável da cor primária do site (verde-água)
	--accent-color: #ff7474; // define a variável da cor de destaque  (vermelho)
	--secondary-accent-color: #FFDBDB; // define a variável da segunda cor de destaque (40% da cor de destaque)
    --content-color: #555555; // define a variável da cor do texto dos conteúdos (cinza)
}

// modifica o CSS para preparar o documento para impressão
@media print {
	:root {
		--background-color: #ffffff; // força a mostrar o fundo branco
  }
}

