footer {
    @media print {
        display: none;
    }

    border-top: 1px solid #999;
    background-color: var(--background-color);
    color: var(--primary-color);
    display: flex;
    line-height: 1.5em;
	flex-flow: column nowrap;
    flex: 0 0 60px;
    text-align: center;
    width: 100%;

    ul.social {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: inherit;
            display: inline-block;
            font-size: 1.5rem;
            font-weight: normal;
            height: 1.5em;
            line-height: 1.5em;
            margin: 0.25em;
            transition: 500ms;
            width: 1.5em;

            &:hover,
            &:focus {
                background-color: var(--background-color);
                color: var(--primary-color);
                opacity: 0.5;
            }
        }
    }


	p {
    	color: var(--primary-color);
        font-size: 0.75rem;
        line-height: 1em;
    a {
		color: inherit;
            &:hover,
            &:focus {
                border: none;
                color: inherit;
                opacity: 0.75;
                outline: none;
                text-decoration: none;
    }

	}
    }


}

