section.grid {
  margin: 0 auto;
  max-width: 32em;

// define o corpo da página
  > * {
//    margin: 1em;
    padding: 0.5em 0 2em;
  }
}

// define o tamanho de exibição da página
.grid.main {
  flex: 1 0 auto; // define que os itens podem se expandir mas não podem se contrair para caber na página, e a largura é automática
  width: 50em; // máximo de largura da página
  max-width: 100%; // em porcentagem, o máximo de largura em relação a tela, com 100% impedindo de haver transbordamento

  @media print {
    max-width: 90%; // define que para a impressão, escalar em 90% do tamanho do documento original
  }
}
