// define as propriedades do documento
html {
  font-family: "Inter", Helvetica, sans-serif; // define as fontes usadas, em ordem de preferência
  font-size: 4vw; // define o tamanho da fonte em vw, isto é, baseado na largura da viewport
  font-weight: 400; // define o peso da fonte padrão
  font-display: swap; // determina quando uma fonte customizada é exibida após ser baixada e estar pronta para o uso
  text-rendering: optimizeLegibility; // define o tipo de renderização da fonte

// define o tamanho da fonte baseado na largura da viewport, neste caso de 480p até 799px
  @media (min-width: 480px) {
    font-size: 13px; // define o tamanho da fonte em pixels
  }

// define o tamanho da fonte baseado na largura da viewport, neste caso viewports maiores que 800px
  @media (min-width: 800px) {
    font-size: 15px; // define o tamanho da fonte em pixels
  }

// define o tamanho de fonte para impressão
  @media print {
    font-size: 12px;
  }
}

// define as configurações dos links
a {
	color: var(--primary-color); // cor do links
    text-decoration: none; // não sublinha o item
    transition: opacity 250ms ease; // define a configurações da transição

// define o que acontece quando passamos o mouse sobre um item ou selecionamos ele
	&:hover, &:focus
		{
		text-decoration:none; // não sublinha o item
		opacity:0.5; // diminui a opacidade pela metade
        }
}


// define o título h1
h1 {
  color: var(--accent-color); // cor do título
  font-size: 2rem; // tamanho da fonte relativo ao root
  font-weight: 700; // peso da fonte

  @media (min-width: 505px) {
    max-width: initial;
  }
}

// define o título h2
h2 {
  font-size: 1.75rem; // tamanho da fonte
  font-weight: 700; // peso da fonte
  letter-spacing: -0.05em; // espaçamento entre letras
  margin: 1.25em auto 0;
}

// define o título h3
h3 {
  font-size: 1.5rem; // tamanho da fonte
  font-weight: 700; // peso da fonte
  letter-spacing: -0.05em; // espaçamento entre letras
  margin-top: 1.25em; // margem do topo
  margin-bottom: 0; // margem de baixo

// tag strong usada para configurar a data de cada postagem na página de índice do blog
  strong {
    display: inline-block; // define o tipo de formatação
    font-size: 0.75em; // tamanho da fonte
    font-weight: 400; // peso da fonte
    margin-left: 0.25em; // margem esquerda
    opacity: 0.8; // opacidade
  }
}

// define o título h4
h4 {
  font-size: 1.25rem; // tamanho da fonte
  font-weight: 700; // peso da fonte
  margin: 0; // margens
  letter-spacing: -0.05em; // espaçamento entre letras
  opacity: 0.8; // opacidade
}

// define o título h5
h5 {
  font-size: 1rem; // tamanho da fonte
  font-weight: 700; // peso da fonte
  letter-spacing: -0.05em; // espaçamento entre letras
  opacity: 0.7; // opacidade
}

// define o título h6
h6 {
  font-size: 1rem; // tamanho da fonte
  font-weight: 700; // peso da fonte
  letter-spacing: -0.05em; // espaçamento entre letras
  opacity: 0.6; // opacidade
}

// define parágrafos e itens de uma lista
p,
li {
  line-height: 2em; // altura da linha
}

// define parágrafos, listas ordenadas e listas não ordenadas
p,
ul,
ol {
  margin: 0.5em auto; // margens
}

// define as características de uma linha separadora horizontal
hr {
  height: 1px; // altura
  margin: 3em auto; // margem
  border-width: 0; // bordas
  background-color: var(--content-color); // cor
}

small,
aside p {
  font-size: smaller;
  opacity: 0.8;
}

// define o bloco de citação
blockquote {
  border-left: 0.33em solid var(--secondary-accent-color); // borda esquerda
  margin-left: 0.33em; // margem esquerda
  padding-left: 0.5em; // preenchimento esquerdo
  font-style: italic; // estilo da fonte
}


aside blockquote p {
  border: none;
  font-size: 1.75em;
  font-style: italic;
  margin-left: 0.75em;
  opacity: 1;
  padding-left: 0;
}

article p,
.article p,
.referrals p {
  margin: 0.75em auto;
}

// define as configurações da descrição de cada postagem (configurado no front matter como "description")
.descricao {
  font-size: 1.25em;
  margin: 0 auto 0.25em;
}

article time,
.tempo-leitura {
  font-size: 0.8em;
  opacity: 0.75;
  cursor: default;
}

.tempo-leitura::before {
  content: "| ";
}

// define as configurações da ética do blog e isenção de responsabilidades
aside.disclaimer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
    font-size: 1.125em;
    letter-spacing: -0.025em;
    margin-bottom: 1em;
    opacity: 1;
  }

  margin: 1em;
  ul {
    @extend small;

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 1em;

      &:before {
        content: "•";
        font-size: 1.25em;
        padding-right: 0.25em;
      }
    }
  }
}

// Configura as classes .highlighter-rouge e .highlight
// Configura as tags pre e code
.highlighter-rouge,
.highlight,
pre,
code {
  background-color: var(--secondary-accent-color); // cor de fundo
  border-radius: 5px; // arredonda a borda
  font-family: inherit; // define a fonte utilizada
}

// Configura as tags pre e code
pre code {
  font-size: 90%; // diminuiu para 90% o tamanho da fonte em relação as outras fontes do HTML
  line-height: 1.5em; // altura da linha
  overflow: auto; // define que a caixa de código possua barras de rolagem apenas se for necessário
  padding: 0.5em; // define a distância entre o conteúdo e a borda
  display: block; // define que o conteúdo é mostrado dentro de uma caixa
  color: inherit; // a cor é herdada
}

// Configura a classe .highlight
.highlight {
  margin: auto; // margen é calculada automaticamente centralizando o elemento dentro do conteúdo
  text-align: left; // alinha o texto na esquerda
}


// Configura a tag kbd (usada para indicação de teclas de teclado, botões, etc)
kbd {
  font-size: 90%; // diminuiu para 90% o tamanho da fonte em relação as outras fontes do HTML
  border-radius: 5px; // arredonda a borda
  padding: 0px 3px 0px; // define a distância entre o conteúdo e a borda, sendo a parte superior, os lados e a parte inferior
  border: 1px solid var(--content-color); // define a borda, sendo a espessura, o tipo e a cor
  font-family: inherit; // define a fonte utilizada
  font-variant: small-caps; // ativa o uso de small-caps
}
