// define as propriedades do documento
html {
  font-family: "Open Sans", Helvetica, sans-serif; // define as fontes usadas, em ordem de preferência
  font-size: 4vw; // define o tamanho da fonte em vw, isto é, baseado na largura da viewport
  font-weight: 400; // define o peso da fonte padrão
  text-rendering: optimizeLegibility; // define o tipo de renderização da fonte

// define o tamanho da fonte baseado na largura da viewport, neste caso de 480p até 799px
  @media (min-width: 480px) {
    font-size: 13px; // define o tamanho da fonte em pixels
  }

// define o tamanho da fonte baseado na largura da viewport, neste caso viewports maiores que 800px
  @media (min-width: 800px) {
    font-size: 15px; // define o tamanho da fonte em pixels
  }

// define o tamanho de fonte para impressão
  @media print {
    font-size: 12px;
  }
}

// define as configurações dos links
a {
	color: var(--primary-color); // cor do links
    text-decoration: none; // não sublinha o item
    transition: opacity 250ms ease; // define a configurações da transição

// define o que acontece quando passamos o mouse sobre um item ou selecionamos ele
	&:hover, &:focus
		{
		text-decoration:none; // não sublinha o item
		opacity:0.5; // diminui a opacidade pela metade
        }
}


// define o título h1
h1 {
  color: var(--accent-color); // cor do título
  font-size: 2rem; // tamanho da fonte relativo ao root
  font-weight: 700; // peso da fonte

  @media (min-width: 505px) {
    max-width: initial;
  }
}

// define o título h2
h2 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-top: 1.25em;
  margin-bottom: 0;

  strong {
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }

}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.25em;
  letter-spacing: -0.05em;
  opacity: 0.8;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  opacity: 0.7;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  opacity: 0.6;
}

p,
li {
  line-height: 2em;
}

p,
ul,
ol {
  margin: 0.5em auto;
}

hr {
  height: 1px;
  margin: 3em auto;
  border-width: 0;
  background-color: var(--content-color);
}

small,
aside p {
  font-size: smaller;
  opacity: 0.8;
}

blockquote {
  border-left: 0.33em solid var(--secondary-accent-color);
  margin-left: 0.33em;
//  opacity: 0.8;
  padding-left: 0.5em;
  font-style: italic;
}

aside blockquote p {
  border: none;
  font-size: 1.75em;
  font-style: italic;
  margin-left: 0.75em;
  opacity: 1;
  padding-left: 0;
}

article p,
.article p,
.referrals p {
  margin: 1.25em auto;
}

article time,
.tempo-leitura {
  opacity: 0.75;
  cursor: default;
}

.subtitle {
  font-size: 1.33em;
  margin: 0 auto 0.25em;
}

.tempo-leitura::before {
  content: "| ";
}

// define as configurações da ética do blog e isenção de responsabilidades
aside.disclaimer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
    font-size: 1.125em;
    letter-spacing: -0.025em;
    margin-bottom: 1em;
    opacity: 1;
  }

  margin: 1em;
  ul {
    @extend small;

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 1em;

      &:before {
        content: "•";
        font-size: 1.25em;
        padding-right: 0.25em;
      }
    }
  }
}

