html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  @media (min-width: 480px) {
    font-size: 13px;
  }

  @media (min-width: 800px) {
    font-size: 15px;
  }

  @media print {
    font-size: 12px;
  }
}

a {
	color: var(--primary-color);
    text-decoration: none;
    transition: opacity 250ms ease;

	&:hover, &:focus
		{
		text-decoration:none;
		opacity:0.5;
        }
}



h1 {
  color: var(--accent-color);
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.9em;
  margin: 0 2 0 2em;

  @media (min-width: 505px) {
    max-width: initial;
  }
}

h2 {
  clear: both;
  font-size: 1.75rem;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin: 0;
  margin-top: 1em;

  strong,
  em {
    display: inline-block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.25em;

  em {
    display: inline-block;
    float: right;
    font-size: 0.67em;
    font-style: normal;
    font-weight: normal;
    line-height: 2em;
  }

  strong {
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: 0.25em;
    opacity: 0.8;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25em;
  margin-top: 0;
  opacity: 0.8;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1em;
}

h6 {
  font-size: 0.75rem;
}

p,
li {
  line-height: 2em;
}

p,
ul,
ol {
  margin: 0.5em auto;
}

hr {
  height: 1px;
  margin: 3em auto;
  border-width: 0;
  background-color: var (--content-color);
}

small,
aside p {
  font-size: smaller;
  opacity: 0.8;
}

blockquote {
  border-left: 0.33em solid var(--secondary-accent-color);
  margin-left: 0.33em;
//  opacity: 0.8;
  padding-left: 0.5em;
  font-style: italic;
}

aside blockquote p {
  border: none;
  font-size: 1.75em;
  font-style: italic;
  margin-left: 0.75em;
  opacity: 1;
  padding-left: 0;
}

article p,
.article p,
.referrals p {
  margin: 1.25em auto;
}

article time,
.tempo-leitura {
  opacity: 0.75;
  cursor: default;
}

.tempo-leitura::before {
  content: "| ";
}

.subtitle {
  font-size: 1.33em;
  margin: 0 auto 0.25em;
}

aside.updated,
aside.disclaimer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
    font-size: 1.25em;
    letter-spacing: normal;
    margin-bottom: 1em;
  }
}

aside.disclaimer {
  margin: 1em;
  ul {
    @extend small;

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 1em;
      text-indent: -1em;

      &:before {
        content: "•";
        font-size: 1.25em;
        padding-right: 0.25em;
      }
    }
  }
}
