---
layout: default
---

<h1>Blog</h1>

<article>
  <h2>{{ page.title }}</h2>

  {% if page.description %}<p class="subtitle">{{ page.description }}</p>{% endif %}

  {% if page.updated %}
    <time class="updated-date" datetime="{{ page.updated | date:"%Y-%m-%d" }}">Publicado em {{ page.date | date: "%F" }} mas atualizado em {{ page.updated | date: "%F" }}</time>
  {% else %}
    <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">Publicado em {{ page.date | date: "%F" }}</time>
  {% endif %}

  {% include read-time.html content = page.content %}

  {{ content }}

  <hr />

  <aside class="disclaimer">
    {% capture md %}
# Ética do blog e isenção de responsabilidade

- Zero rastreamento ou análise
- Sem pagamento, doações ou favores

Estes são meus pensamentos e não representam a Andurá ou qualquer outra organização ou projeto associado.
    {% endcapture %}
    {{ md | markdownify }}
  </aside>

</article>
